# Title:
Suite of tests bigdft for abinit
# It is designed to test the features introduced by the inclusion of the
# BigDFT library (wavelet computation).
#
# Copyright (C) 2003-2008 ABINIT group (DC)
# This file is distributed under the terms of the
# GNU General Public License, see ~abinit/COPYING
# or http://www.gnu.org/copyleft/gpl.txt .
# For the initials of contributors, see ~abinit/doc/developers/contributors.txt .
#
# for all the following tests, use unix-style file paths
# they will be converted by function transpath if necessary
# file paths may contain a perl variable (e.g. $PSPS)
#
#   The following lines describe the tests to be run. The general syntax of 
# these lines is:	testID [command | program] parameters.
#
#   The first word is the test identification. All consecutive lines that begin
# with the same word will be executed in that order.
#   The second word specifies an ABINIT module or system command to be run. The
# following system commands are available: copy, erase
# The following keywords refer to ABINIT programs:
# 	abinis | seq	run the sequential version of abinis
#	newsp		run newsp
#
#   parameters for copy and erase are file or directory names
#   parameters for the programs are either file paths derived from the
# subroutines 'doseqtest', 'newsptest', ... in the old Run.pl scripts, or
# options to tailor the flow of results analysis and other operations before
# or after the tests;
# format for file paths is: fnI=path
# format for pseudo-potential file paths is: pspI=path
# format for the GEO file is: GEO=path
# format for options is: opt=option
# option can be either a standard option of the fldiff script (-easy , -medium),
# options to tailor the analysis of the results after test completion:
#	-nofld	don't run fldiff
#	-DOS	appply fdiff/ldiff to the o_DOS file
#	+xml	also apply diff/fldiff to the CML.xml file
# or the following options to modify the flow of operations during the test:
#	-keepfn4
# default options to call fldiff are: -ignore -ignoreP 
#
#   Default file names for the test with Id NNN (1 to 3 characters string):
# 1) abinis/seq
# fn1 = ../tNNN.in
# fn2 = tNNN.out
# fn3 =	tNNNi
# fn4 = tNNNo
# fn5 = tNNN
# fn6-fn9, psp1-psp4 = none
# 2) newsp
# fn1-fn2 = none
# fn3 = tNNNo_WFK
01 seq	psp1=01h.pspgth
02 seq	psp1=01h.pspgth
03 seq	psp1=01h.pspgth
04 seq	psp1=14si.pspgth psp2=01h.pspgth
05 seq  psp1=31ga.hgh psp2=HGH/5b.3.hgh psp3=1h.psphgh
09 seq  psp1=14si.pspgth psp2=01h.pspgth
10 seq  psp1=01h.pspgth
11 seq  psp1=HGH/14si.4.hgh
12 seq  psp1=78pt.18.khgh opt=-medium
13 seq  psp1=78pt.18.khgh opt=-medium
20 seq  psp1=01h.pspgth
21 seq  psp1=01h.pspgth
22 seq  psp1=HGH/1h.1.hgh psp2=HGH/8o.6.hgh

make report
