# Title:
Suite of various fast tests of abinit and newsp
# Allows for accurate comparison with the results from Plane_wave .
# Before running RunTests.pl with this file, read README in this directory.
#
# Copyright (C) 2003-2008 ABINIT group (LSi)
# This file is distributed under the terms of the
# GNU General Public License, see ~abinit/COPYING
# or http://www.gnu.org/copyleft/gpl.txt .
# For the initials of contributors, see ~abinit/doc/developers/contributors.txt .
#
# for all the following tests, use unix-style file paths
# they will be converted by function transpath if necessary
# file paths may contain a perl variable (e.g. $PSPS)
#
#   The following lines describe the tests to be run. The general syntax of 
# these lines is:	testID [command | program] parameters.
#
#   The first word is the test identification. All consecutive lines that begin
# with the same word will be executed in that order.
#   The second word specifies an ABINIT module or system command to be run. The
# following system commands are available: copy, erase
# The following keywords refer to ABINIT programs:
# 	abinis | seq	run the sequential version of abinis
#	newsp		run newsp
#
#   parameters for copy and erase are file or directory names
#   parameters for the programs are either file paths derived from the
# subroutines 'doseqtest', 'newsptest', ... in the old Run.pl scripts, or
# options to tailor the flow of results analysis and other operations before
# or after the tests;
# format for file paths is: fnI=path
# format for pseudo-potential file paths is: pspI=path
# format for the GEO file is: GEO=path
# format for options is: opt=option
# option can be either a standard option of the fldiff script (-easy , -medium),
# options to tailor the analysis of the results after test completion:
#	-nofld	don't run fldiff
#	-DOS	appply fdiff/ldiff to the o_DOS file
#	+xml	also apply diff/fldiff to the CML.xml file
# or the following options to modify the flow of operations during the test:
#	-keepfn4
# default options to call fldiff are: -ignore -ignoreP 
#
#   Default file names for the test with Id NNN (1 to 3 characters string):
# 1) abinis/seq
# fn1 = ../tNNN.in
# fn2 = tNNN.out
# fn3 =	tNNNi
# fn4 = tNNNo
# fn5 = tNNN
# fn6-fn9, psp1-psp4 = none
# 2) newsp
# fn1-fn2 = none
# fn3 = tNNNo_WFK
#
01 seq psp1=1h.pspnc
#02 seq fn5=t01 psp1=1h.pspnc
02 seq psp1=1h.pspnc
03 seq psp1=14si.psp
#04 seq fn5=t03 psp1=14si.psp
04 seq psp1=14si.psp
05 seq fn3=t03o psp1=14si.pspnc
06 seq fn3=t05o psp1=14si.pspnc
07 seq fn3=t05o psp1=14si.pspnc
08 seq fn3=t05o psp1=14si.pspnc
# Case 09: copy files at the right place
09 erase t09i_*
09 copy t05o_WFK t09i_WFK
09 copy t08o_DEN t09i_DEN
09 seq psp1=14si.pspnc
# newsp is exercised in test 10
10 newsp fn1=t09o_WFK fn2=t11.in
11 erase t11i_*
11 copy t10o_WFK t11i_WFK
11 copy t08o_DEN t11i_DEN
11 seq psp1=14si.pspnc
12 erase t12i_*
12 copy t10o_WFK t12i_WFK
12 copy t08o_DEN t12i_DEN
12 seq psp1=14si.pspnc
13 newsp fn1=t05o_WFK fn2=t14.in
14 seq fn3=t13o psp1=14si.pspnc
15 newsp fn1=t05o_WFK fn2=t16.in
16 seq fn3=t15o psp1=14si.pspnc
17 seq psp1=14si.pspnc
18 newsp fn1=t17o_WFK fn2=t19.in
19 seq fn3=t18o psp1=14si.pspnc
20 seq fn3=t19o psp1=14si.pspnc
21 seq fn3=t20o psp1=14si.pspnc
22 newsp fn1=t17o_WFK fn2=t23.in
23 erase t23i_*
23 copy t22o_WFK t23i_WFK
23 copy t17o_DEN t23i_DEN
23 seq psp1=14si.pspnc
24 seq psp1=19k.pspnc psp2=17cl.pspnc
25 seq psp1=19k.pspnc psp2=17cl.pspnc
26 seq psp1=70yb.pspnc
27 seq psp1=14si.pspnc
# handle GEO file for some tests
28 seq fn3=t27o psp1=14si.pspnc GEO=t28o_TIM2_GEO
29 seq fn3=t27o psp1=14si.pspnc GEO=t29o_TIM8_GEO
30 seq psp1=14si.pspnc
make report
